<div class="jumbotron center">
	<h2>Beautiful hand-tied bouquets delivered as soon as you order</h2>
	<%= link_to "Login", "#", class: "btn btn-default" %>
	<%= link_to "Sign Up", "#", class: "btn btn-primary" %>
	

</div>
